 {%extends "RelaxstyleIndexBundle:Default:index.html.twig"%}
 {% block container %}
  <div id="contents" class="clear">
  <div class="main-content">
<div class="form" >
<div style="margin: 50px auto;text-align:center;font-weight:bold;color: #EA9D76; font-family: 'OpenSansBold';font-size:xx-large;">Create your Account</div>
        <form id="cform" action="#" method="pot"  style="width:350px;margin:0 auto;">  
                <input type="text" class="required email" id="email"  name="loginemail" placeholder="Email Address" style="border:3px solid #171717 ; width:100%;border-radius:7px;font-size: 16px;" >
                <br><br>
		<input type="text" class="form-control" id="username" name="loginname" placeholder="Username" style="border:3px solid #171717 ; width:100%;border-radius:7px;font-size: 16px;" >
		<br><br>
		<input type="radio" name="options_sex" id="optionsRadios1" value="Male"> Male
		<input type="radio" name="options_sex" id="optionsRadios2" value="Female"> Female
		<br><br>
		<input type="password" class="form-control" id="password" name="loginpwd" placeholder="Password" style="border:3px solid #171717 ; width:100%;border-radius:7px;font-size: 16px;" >
		<br><br>
		<input type="password" class="form-control" id="password_confirm" placeholder="Password Confirm" style="border:3px solid #171717 ; width:100%;border-radius:7px;font-size: 16px;" >
		<br><br>
		 <input type="checkbox" name="privacy" value="I_agree">I agree to the <a href="javascript:;" data-toggle="modal" data-target="#templatemo_modal">Terms of Service</a> and <a href="#">Privacy Policy.</a>
		 <br><br>
		<input type="submit" value="Create account" class="btsubmit" style="font-size: 20px; color: #EA9D76; font-family: 'OpenSansBold';">	
        </form>
  </div></div>
  <div class="sidebar">
   <div class="sociable">
        <h5>Find me here <span class="arrow">&nbsp;</span></h5>
        <ul class="clear">
          <li><a href="#"><img src="{{ asset('bundles/relaxstyleindex/img/icons/dribbble.png')}}" alt="" title="Dribbble" /></a></li>
          <li><a href="#"><img src="{{ asset('bundles/relaxstyleindex/img/icons/facebook.png')}}" alt="" title="Facebook" /></a></li>
          <li><a href="#"><img src="{{ asset('bundles/relaxstyleindex/img/icons/twitter.png')}}" alt="" title="Twitter" /></a></li>
          <li><a href="#"><img src="{{ asset('bundles/relaxstyleindex/img/icons/gplus.png')}}" alt="" title="Google Plus" /></a></li>
          <li><a href="#"><img src="{{ asset('bundles/relaxstyleindex/img/icons/rss.png')}}" alt="" title="Subscribe RSS" /></a></li>
          <li class="last"><a href="#"><img src="{{ asset('bundles/relaxstyleindex/img/icons/flickr.png')}}" alt="" title="Flickr" /></a></li>
        </ul>
        <span class="tail">&nbsp;</span> 
  </div>
  <div class="side-paragraph">
        <h5>About Singup<span class="arrow">&nbsp;</span></h5>
        <div> <img src="{{ asset('bundles/relaxstyleindex/img/simage.jpg')}}" alt="" title="" />
          <p> When you find a inputbox  appeared red, this express the input  what you inputed  is wrong ,please check. <strong style="color:red">when you alread submit.you will get a email which your use singin ,you can signup success after your comfirm this email . </strong></p>
        </div>
        <span class="tail">&nbsp;</span> </div>
         <div class="side-paragraph">
        <h5>Alread  had  a account<span class="arrow">&nbsp;</span></h5>
        <div>
          <p><a href="#" style="text-align:center;font-weight:bold;color: #EA9D76; font-family: 'OpenSansBold';font-size:20px;">Sign in ➟ </a><p>
        </div>
        <span class="tail">&nbsp;</span> </div>
   </div></div>
 {%endblock %}