 {%extends "RelaxstyleIndexBundle:Default:index.html.twig"%}
{% block title %}
Forgot password
{% endblock %}

{% block container %}
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default panel-primary" id='logpanel'>
   <div class="panel-heading">
      <h3 class="panel-title">
         Forgot password
      </h3>
   </div>
   <div class="panel-body">
   
          {% if nofind is defined  %}
           <div class="alert alert-warning" id="alert">
           <a href="#" class="close" data-dismiss="alert">
           &times;
           </a>
           <strong>Warning!</strong><br>{{nofind}}!
           </div>
          {%else%}
          {% endif %}
  
   <br><br>
     <div class="col-md-8 col-md-offset-2">
      <form class="bs-example bs-example-form" name='findform' role="form" method="post" action="{{ path('_Index_findpassword') }}">
      <div class="input-group input-group">
         <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
         <input type="text" class="form-control" name='email' id='email' placeholder="Email Address" value="{% if comfirmemail is defined  %}{{ comfirmemail }}{% endif %}">
      </div><br>
         <button type="submit" class="btn btn-success">Submit</button>
      <br>
   </form>
   <hr>
   </div>
   </div>
</div></div>
<div class="col-md-3">
<div class="panel panel-success panel-primary" id='logpanel'>
   <div class="panel-heading">
      <h3 class="panel-title">
         About Findpassword
      </h3>
   </div>
   <div class="panel-body">
   <h4><span class="glyphicon glyphicon-search text-success"></span>
   When you Forgot your password .you can input send a comfirm email to your login email .
    or you can use another email address</h4>
    <hr>
    <div class="btn-group">
    <big><span class="glyphicon glyphicon-hand-right text-success">  </span></big>
    <a href="{{ path('_Index_signin') }}"><button type="button" class="btn btn-success btn-sm" >Sign In</button></a>
    <a href="{{ path('_Index_createuser') }}"><button type="button" class="btn btn-success btn-sm">Sign Up</button></a>
    </div>
   </div>
</div></div>
{% endblock %}