 {%extends "RelaxstyleIndexBundle:Default:index.html.twig"%} 
  {% block container %}
   <div id="contents" class="clear">
  <div class="main-content">
<div class="form" >
{% if nofind is defined  %}
  <div style="margin: 50px auto;text-align:center;font-weight:bold;color: #EA9D76; font-family: 'OpenSansBold';font-size:xx-large;">{{nofind}}</div></div>
{% else %}
<div style="margin: 50px auto;text-align:center;font-weight:bold;color: #EA9D76; font-family: 'OpenSansBold';font-size:xx-large;">Forgot password</div>
        <form id="cform" action="{{ path('_Index_findpassword') }}" method="post"  style="width:450px;margin:0 auto;">  
       <ul class="clear">
       <li>
              <label class="la" for="email"  style="text-align:center;font-weight:bold;color: #EA9D76; font-family: 'OpenSansBold';font-size:20px">Email</label>
              <input type="text" name="email" id="email" class="required email "  style="width:300px" value=
               "{% if errormiss  is defined  %}{{comfirmemail}}{% endif %}"
              />
        </li>
        </ul>
              <br>
              <input class="btsubmit" type="submit" name="btsend" value="Submit"  style="font-size: 20px; color: #EA9D76; font-family: 'OpenSansBold';"/>
              <br> <a href="#" style="text-align:right;float: right;">Sign In</a>
        </form>
  </div>
  {% endif %}
  </div>
  <div class="sidebar">
  <div class="side-paragraph">
        <h5>About  Forgotpassword<span class="arrow">&nbsp;</span></h5>
        <div> <img src="{{ asset('bundles/relaxstyleindex/img/simage.jpg')}}" alt="" title="" />
          <p> When you Forgot your password .you can input send a comfirm email to your login email .</p>
          {% if errormiss  is defined  %}
          <p><strong style="color:red">{{result}}</strong><p>
          {% endif %}
          <p>or you can use another email address <p>
           <p><a href="{{ path('_Index_createuser') }}" style="text-align:center;font-weight:bold;color: #EA9D76; font-family: 'OpenSansBold';">Create new account ➟ </a><p>
           
        </div>
        <span class="tail">&nbsp;</span> </div>
   </div></div>
  {% endblock %}