 {%extends "RelaxstyleIndexBundle:Default:index.html.twig"%}
{% block container %}
 <div id="contents" class="clear">
  <div class="main-content">
<div class="form" >
<div style="margin: 50px auto;text-align:center;font-weight:bold;color: #EA9D76; font-family: 'OpenSansBold';font-size:xx-large;">Account Signin</div>
        <form id="cform" action="#" method="post"  style="width:350px;margin:0 auto;">  
              <input type="text" name="email" id="email" placeholder="Email Address" class="required email" style="border:3px solid #171717 ; width:100%;border-radius:7px;font-size: 16px;" />
              <br><br>
              <input type="password" name="password" id="password" placeholder="password" style="border:3px solid #171717 ; width:100%;border-radius:7px;font-size: 16px;"/>
              <br>
              <br>
              <input type="checkbox" id="savepasswd" name="rememberme" value="rmb"> Remember me
              <br>
              <br>
              <input class="btsubmit" type="submit" name="btsend" value="Sgin In"  style="font-size: 20px; color: #EA9D76; font-family: 'OpenSansBold';"/>
              <a href="#" style="text-align:right;float: right;">Forgot password?</a>
        </form>
  </div></div>
  <div class="sidebar">
   <div class="sociable">
        <h5>Find me here <span class="arrow">&nbsp;</span></h5>
        <ul class="clear">
          <li><a href="#"><img src="{{ asset('bundles/relaxstyleindex/img/icons/dribbble.png')}}" alt="" title="Dribbble" /></a></li>
          <li><a href="#"><img src="{{ asset('bundles/relaxstyleindex/img/icons/facebook.png')}}" alt="" title="Facebook" /></a></li>
          <li><a href="#"><img src="{{ asset('bundles/relaxstyleindex/img/icons/twitter.png')}}" alt="" title="Twitter" /></a></li>
          <li><a href="#"><img src="{{ asset('bundles/relaxstyleindex/img/icons/gplus.png')}}" alt="" title="Google Plus" /></a></li>
          <li><a href="#"><img src="{{ asset('bundles/relaxstyleindex/img/icons/rss.png')}}" alt="" title="Subscribe RSS" /></a></li>
          <li class="last"><a href="#"><img src="{{ asset('bundles/relaxstyleindex/img/icons/flickr.png')}}" alt="" title="Flickr" /></a></li>
        </ul>
        <h2 style="color: red; font-family: 'OpenSansBold';"/>
         {% if loginerror is defined  %}
         {{loginerror}}
         {%else%}
         {% endif %}
        </h2>
        <span class="tail">&nbsp;</span> 
  </div>
  <div class="side-paragraph">
        <h5>About  Signin <span class="arrow">&nbsp;</span></h5>
        <div> <img src="{{ asset('bundles/relaxstyleindex/img/simage.jpg')}}" alt="" title="" />
          <p> IF you not have a Accout to Signin ,and if you want to join Relaxstyle .yes you can  </p>
           <p><a href="{{ path('_Index_createuser') }}" style="text-align:center;font-weight:bold;color: #EA9D76; font-family: 'OpenSansBold';font-size:20px;">Create new account ➟ </a><p>
           
        </div>
        <span class="tail">&nbsp;</span> </div>
   </div></div>
{% endblock %}