<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<!--manifest="{{ asset('bundles/relaxstyleindex/settings/html.appcache')}}"-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="keywords" content="Photography, Photo Images, Responsive, Business, Corporate, Gallery, Notebook" />
<meta name="description" content="PhotoBax Responsive Photography Business Template" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />

{% block stylesheets %}
<link href="{{ asset('bundles/relaxstyleblog/bootstrap/css/abootstrap.min.css')}}" rel="stylesheet"  media="screen" />
<link href="{{ asset('bundles/relaxstyleblog/bootstrap/my.css')}}" rel="stylesheet"  />
{% endblock %}

<link rel="alternate" type="application/rss+xml" title="#" href="#" />
<link rel="shortcut icon" href="#" />


 


{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/relaxstyleblog/bootstrap/js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/relaxstyleblog/bootstrap/js/abootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/relaxstyleblog/bootstrap/my.js')}}"></script>
{% endblock %}


<title>{% block title %}Relaxstyle Blog{% endblock %}</title>

</head>
<body>

<!--menu-->
{% block menu%}
<nav class="navbar navbar-default navbar-fixed-top col-md-10 col-md-offset-1" id="navhome" role="navigation" >
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" herf="#"><b>Relaxstyle</b></a>
   </div>
   <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav">
         <li>
            <a href="{{ path('_Index_home') }}"><b>HOME</b></a>
         </li>
         {% if HerName is defined %}
         <li class="dropdown">
            <a herf="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{'HerName'}}</b><b class="caret"></b></a>
            <ul class="dropdown-menu">
               <li><a href="#">Recently</a></li>
               <li><a href="#">Essays</a></li>
               <li><a href="#">Article</a></li>
               <li><a href="#">Albums</a></li>
               <li><a href="#">Profile</a></li>
            </ul>
         </li>
         {%else%}
         {% endif %}
      </ul>
      <div class="nav navbar-nav navbar-right">
      {% if UserName is defined %}
          
            <button type="button" class="btn btn-success navbar-btn dropdown-toggle" data-toggle="dropdown">
               <b>{{UserName}}</b><b class="caret"></b>
           </button>
            <ul class="dropdown-menu">
               <li><a href="#" >Mamage Account</a></li>
               <li><a href="#">Friend</a></li>
               <li><a href="#">Block seting</a></li>
               <li><a href="#">
               <span class="badge pull-right">3</span>
               News</a></li>
               <li class="divider"></li>
               <li><a href="{{ path('_Index_logout') }}" style="color:red">Logout</a></li>
            </ul>
      {% else %}
           <button type="button" class="btn btn-success navbar-btn dropdown-toggle" data-toggle="dropdown">
               <b>Account</b><b class="caret"></b>
           </button>
            <ul class="dropdown-menu">
               <li><a href="{{ path('_Index_signin') }}" >Sign In</a></li>
               <li><a href="{{ path('_Index_createuser') }}">Sign Up</a></li>
               <li class="divider"></li>
               <li><a href="{{ path('_Index_findpassword') }}" style="color:red">Forgot Password</a></li>
            </ul>
       {% endif %}
        </div>
   </div>
</nav>
{% endblock %}
<!--endmenu-->

<div class="container" id="homecontainer">
<div class="row" >
<!--container-->
{% block container %}
      <div class="col-md-3" 
         style="background-color: #dedef8;box-shadow: 
         inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit.
         </p>
      </div>
      <div class="col-md-9" 
         style="background-color: #dedef8;box-shadow: 
         inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit.
         </p>
      </div>
{% endblock %}
</div>
<!--endcontainer-->
<hr>
<div class="col-md-12">
    <label>&copy; Copyright &copy; 2013.Dirk All rights reserved.</label>
</div>
</div>
</body>
</html>

